@import './styles/tailwind.css';
@import 'primeicons/primeicons.css';
@import "primereact/resources/themes/lara-light-cyan/theme.css";


body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}